<div *ngIf="product" class="product-details-container">
    <div class="product-image">
      <img [src]="product.imageUrl" alt="{{ product.productName }}" />
    </div>
  
    <div class="product-info">
      <h1 class="product-title">{{ product.productName }}</h1>
      <h2 class="product-price">₹{{ product.price }}</h2>
  
      <div class="product-features">
        <h3>Features</h3>
        <ul>
          <li *ngFor="let key of featureKeys()">
            <strong>{{ key }}:</strong> {{ product.featureDescMap[key] }}
          </li>
        </ul>
      </div>
  
      <div class="seller-info" *ngIf="product.seller">
        <h4>Seller Info</h4>
        <p><strong>Name:</strong> {{ product.seller.sellerName }}</p>
      </div>
    </div>
    <div>
        <button class="buy-now-button" (click)="buyNow()">Buy Now</button>
    </div>
  </div>
  