  
  <div class="heading">
    <h1>Login</h1>
  </div>
  <div class="loginform">
    <form #loginForm="ngForm" (ngSubmit)="onLogin() ">
      <div class = 'labelgroup'>
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" required  #usernameRef="ngModel"/>
        <div *ngIf="usernameRef.invalid && usernameRef.touched" class="error-msg">
          Username is required.
        </div>
      </div>

      <div class = 'labelgroup'>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" required minlength="5" #passwordRef="ngModel"/>
        <div *ngIf="passwordRef.invalid && passwordRef.touched" class="error-msg">
          <span *ngIf="passwordRef.errors?.['required']">Password is required.</span>
          <span *ngIf="passwordRef.errors?.['minlength']">Password must be at least 6 characters.</span>

        </div>
      </div>
      <div>  
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
