.purchase-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: center;   /* Horizontal center */
    align-items: center;       /* Vertical center */
    min-height: 100vh;
    overflow: hidden;
    /* Full viewport height */
  }
  
  