<table class="product-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Features</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList" (click)="goToDetail(product.id)" class="clickable-row">
        <td><img [src]="product.imageUrl" alt="{{ product.productName }}" /></td>
        <td>{{ product.productName }}</td>
        <td>
          <ul>
            <li *ngFor="let feature of product.featureDescMap | keyvalue">{{ feature.key }}</li>
          </ul>
        </td>
        <td>₹{{ product.price }}</td>
        <td>⭐ 5 </td>
      </tr>
    </tbody>
  </table>
  